<?xml version="1.0" ?>
<theme>
    <name>UN-DNIA</name>
    <version>1.19</version>
    <compatibility>-r2.5</compatibility>
    <author>UN-DNIA</author>
    <author-url>http://exelearning.net</author-url>
    <license>Creative Commons by-sa</license>
    <license-url>http://creativecommons.org/licenses/by-sa/4.0/</license-url>
    <description/>
    <extra-head><![CDATA[<meta name="viewport" content="width=device-width, initial-scale=1" />
<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-171061524-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-171061524-1');
</script>]]></extra-head>
    <extra-body><![CDATA[<script type="text/javascript" src="_style_js.js"></script>]]></extra-body>
    <edition-extra-head><![CDATA[<script type="text/javascript">if (typeof(exe_style)!='undefined' && exe_style.indexOf("content.css")!=-1) document.write('<scr'+'ipt type="text/javascript" src="'+exe_style.replace("content.css","_style_js.js")+'"></scr'+'ipt>')</script>]]></edition-extra-head>
</theme>
